:root {
  font-family: "Montserrat", sans-serif;
}

::selection {
  background-color: #dec3fc;
}

body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

/* Contact form submit button styling */
.contact-btn {
  background-color: transparent;
  padding: 0.6em 1.3em;
  font-weight: 800;
  font-size: 18px;
  border: 3px solid #f3f4f6;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: #f3f4f6;
}

.contact-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.contact-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
/* End of contact form submit button styling */
